<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>St. Clare’s tenant tracking tool - System Configuration Management</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">   

    <!-- Common -->
    <link href="{{ url_for('static',filename='css/lib/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/lib/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/lib/menubar/sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/lib/jsgrid/jsgrid-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/lib/jsgrid/jsgrid.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/lib/sweetalert/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/lib/helper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
  <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
      <div class="nano-content">
        <div class="logo">
          <a href="/">
            <!-- <img src="assets/images/logo.png" alt="" /> -->
            <span>Tenant Tracking Tool</span>
          </a>
        </div>
        <ul classs="d-block" style="margin-top: 50%;">
          <li>
            <a href="/">
              <i class="ti-home"></i> Home</a>
          </li>
          <li>
            <a href="/users">
              <i class="ti-user"></i> Users</a>
          </li>
          <li>
            <a href="/sites">
              <i class="ti-map-alt"></i> Sites</a>
          </li>
          <li>
            <a href="/tenants">
              <i class="ti-heart"></i> Tenants</a>
          </li>
          <li>
            <a href="/activity_categories">
              <i class="ti-book"></i> Activity Categories</a>
          </li>
          <li>
            <a href="/tracking">
              <i class="ti-layout-list-thumb"></i> Tracking</a>
          </li>
          <li class="active">
            <a href="/system_configurations" class="active">
              <i class="ti-settings"></i> System Configurations</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /# sidebar -->


  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="float-left">
            <img src="{{ url_for('static',filename='/images/st_clares_logo.png') }}" width="70" height="70">
            <!--
            <div class="hamburger sidebar-toggle">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
            -->
          </div>
          <div class="float-right">
            <div class="dropdown dib">
              <div class="header-icon" data-toggle="dropdown">
                <span class="user-avatar" id="displayed_name">
                  <i class="ti-angle-down f-s-10"></i>
                </span>
                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="/change_password">
                          <i class="ti-key"></i>
                          <span>Change password</span>
                        </a>
                      </li>
                      <li>
                        <a href="/logout">
                          <i class="ti-power-off"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="content-wrap">
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 p-r-0 title-margin-right">
            <div class="page-header">
              <div class="page-title">
                <h1 id="welcome_msg">
                </h1>
              </div>
            </div>
          </div>
          <!-- /# column -->
          <div class="col-lg-4 p-l-0 title-margin-left">
            <div class="page-header">
              <div class="page-title">
                <ol class="breadcrumb">                  
                  <li class="breadcrumb-item active">System Configuration Management</li>
                </ol>
              </div>
            </div>
          </div>
          
          <!-- /# column -->
        </div>
        <!-- /# row -->
        <div id="main-content">
          <div class="row">
              <div class="col-lg-12">
                  <div class="card">
                      <div class="jsgrid-table-panel">
                          <div id="system_configuration_table"></div>
                      </div>
                  </div>
                  <!-- /# card -->
              </div>
              <!-- /# column -->
          </div>
          <!-- /# row -->

          
      </div>
      </div>
    </div>
  </div>


    <!-- Common -->
    <script src="{{ url_for('static',filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jquery.nanoscroller.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/menubar/sidebar.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/preloader/pace.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>

    <!-- JS Grid Scripts Start-->
    <script src="{{ url_for('static',filename='js/lib/jsgrid/jsgrid.core.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/jsgrid.load-indicator.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/jsgrid.load-strategies.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/jsgrid.sort-strategies.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/jsgrid.field.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/fields/jsgrid.field.text.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/fields/jsgrid.field.number.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/fields/jsgrid.field.select.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/fields/jsgrid.field.checkbox.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/jsgrid/fields/jsgrid.field.control.js') }}"></script>
    <!-- JS Grid Scripts End-->

    <!-- Sweet alert Start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Sweet alert End -->

    <script src="{{ url_for('static',filename='js/system_configuration_management.js') }}"></script>
    <script type="text/javascript">
      {% block scripts %}
      var data = {{data|tojson|safe}};
      {% endblock %}
    </script>

</body>

</html>